@media screen and (max-width: 500px) {
    #queuediv {
        margin-top: 50px;
    }   
}

#queuediv {
    overflow:scroll;
    height:500px;
}

#queuediv h2 {
    margin-top: 0px;
}

#queue {
    list-style-type: none;
    display: inline;
}

#queu li:first-child {
    margin-top: 10px;
}

#queue li p,h4{
    display: inline;
}

.queueimg {
    background: url(loading.gif) 50% no-repeat;
}

#responsediv {
    margin-top: 25px;
    border: 1px solid #aaa;
    overflow:scroll;
    height:180px;
}

#responsediv ul {
    list-style-type: none;
}

#responsediv ul:first-child {
    margin-top: 10px;
}






